body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.axis-labels{
    text-align: center;
}

.frame {
    stroke: #aaa;
}